
   .black-background {
    background-color: black;
    height: 100vh;
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
  }
  
  .content {
    position: relative; 
    margin-top: 15rem;
    z-index: 1; 
    text-align: center;
    color: white;
  }
  
  .title.white-text {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgb(222, 133, 133);
  }
  
  .button-container {
    margin-top: 20px;
  }
  
  .login-button,
  .register-button {
    background-color: red;
    color: white;
    padding: 15px 30px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .login-button:hover,
  .register-button:hover {
    background-color: #d60000;
  }
  
  .background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
  }
  